<aside class="sidebar">
    <section class="sidebar-section" class="home">
        <h3>
            <span>
                NecroHome
            </span>

            <a class="sidebar-link" routerLink="/">
                <i class="pi pi-home"></i>
                <span>
                    Home
                </span>
            </a>
        </h3>
    </section>

    @for (game of wikiItems; track game.id) {
    <section class="sidebar-section" [class]="game.theme">
        <h3>
            <img [src]="game.image" [alt]="game.title" />
            <span>
                {{ game.title }}
            </span>
        </h3>

        @for (link of game.links; track link.route) {

        @if (link.external) {

        <a class="sidebar-link" [href]="link.route" target="_blank" rel="noopener noreferrer">
            @if (link.image) {
            <img [src]="link.image" [alt]="link.label" />
            }

            @if (link.icon) {
            <i [class]="link.icon"></i>
            }

            <span>
                {{ link.label }}
            </span>

        </a>

        } @else {

        <a class="sidebar-link" [routerLink]="link.route" routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }">

            @if (link.image) {
            <img [src]="link.image" [alt]="link.label" />
            }

            @if (link.icon) {
            <i [class]="link.icon"></i>
            }

            <span>
                {{ link.label }}
            </span>

        </a>

        }

        }

    </section>

    }

</aside>