<aside class="necro-sidebar">
    <div class="sidebar-section">
        <div class="sidebar-title">
            <i class="pi pi-home"></i>
            Principal
        </div>

        <a routerLink="/home">
            <i class="pi pi-home"></i>
            Início
        </a>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-title wow">
            <i class="pi pi-shield"></i>
            World of Warcraft
        </div>

        <a routerLink="/wow">
            <i class="pi pi-server"></i>
            AzerothCore
        </a>

        <a routerLink="/wow/classes">
            <i class="pi pi-users"></i>
            Classes
        </a>

        <a routerLink="/wow/items">
            <i class="pi pi-box"></i>
            Itens
        </a>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-title ragnarok">
            <i class="pi pi-bolt"></i>
            Ragnarok
        </div>

        <a routerLink="/ragnarok">
            <i class="pi pi-server"></i>
            rAthena
        </a>

        <a routerLink="/ragnarok/classes">
            <i class="pi pi-users"></i>
            Classes
        </a>

        <a routerLink="/ragnarok/items">
            <i class="pi pi-box"></i>
            Itens
        </a>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-title diablo">
            <i class="pi pi-sun"></i>
            Diablo II
        </div>

        <a routerLink="/diablo2">
            <i class="pi pi-server"></i>
            PvPGN
        </a>

        <a routerLink="/diablo2/characters">
            <i class="pi pi-users"></i>
            Personagens
        </a>

        <a routerLink="/diablo2/items">
            <i class="pi pi-box"></i>
            Itens
        </a>
    </div>

    <div class="sidebar-section">
        <div class="sidebar-title arcade">
            <i class="pi pi-desktop"></i>
            NecroArcade
        </div>

        <a routerLink="/arcade">
            <i class="pi pi-th-large"></i>
            Biblioteca
        </a>

        <a routerLink="/arcade/saves">
            <i class="pi pi-save"></i>
            Saves
        </a>
    </div>
</aside>