<div class="home">

    <div class="games-list">
        @for (game of wikiItems; track game.id) {

        <div class="game-card" [class]="game.theme">
            <div class="game-content">

                <div class="game-image">
                    <img [src]="game.image" [alt]="game.title" />
                </div>

                <div class="game-info">
                    <h2>
                        {{ game.title }}
                    </h2>
                    <span>
                        {{ game.subtitle }}
                    </span>
                </div>
            </div>
            
            <div class="game-expanded">
                <div class="game-links">
                    @for (link of game.links; track link.route) {

                    @if (link.external) {
                    <p-button [severity]="link.severity" [raised]="true" [label]="link.label" [icon]="link.icon"
                        (onClick)="openExternal(link.route)">

                        @if (link.image) {
                        <img [src]="link.image" alt="" class="service-icon" />
                        }

                    </p-button>

                    } @else {

                    <p-button [severity]="link.severity" [raised]="true" [label]="link.label" [icon]="link.icon"
                        [routerLink]="link.route">

                        @if (link.image) {
                        <img [src]="link.image" alt="" class="service-icon" />
                        }

                    </p-button>

                    }
                    }

                </div>
            </div>
        </div>
        }

    </div>
</div>